@layer base {
  h1,
  .h1 {
    @apply text-4xl font-bold;
  }
  h2,
  .h2 {
    @apply text-3xl font-semibold;
  }
  h3,
  .h3 {
    @apply text-2xl font-semibold;
  }
  h4,
  .h4 {
    @apply text-xl font-semibold;
  }
  p,
  .p {
    @apply text-base;
  }
  span,
  .span {
    @apply text-sm;
  }
  small,
  .small {
    @apply text-xs;
  }
}
